@CHARSET "UTF-8";

body {
}
header, nav, section, footer {
	display: block;
	margin: 5px;
}

header{
	width: 960px;
	height:105px;
    background-image: -moz-linear-gradient(left, #ff69b4, #ffe4e1);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #FF69B4), color-stop(1.0, #FFE4E1));
	/* background-color: LightSteelBlue; */
}

nav {
	float: left;
	width: 150px;
	background-color: Lavender;
}

section#content {
	float: left;
/*	border: dotted 1px; */
	width: 85%;
	min-width: 800px;
}

footer{
	width: 960px;
	height: 100px;
/*	border: solid; */
	clear: both;
}

/* ヘッダ */
img.logo {
	height: 80px;	
}
/*
tr.top_menu {
	height: 20px;
}

td.top_menu {
	height: 20px;
}
*/
span.top_menu{
	margin-right: 10px;
}
li.top_menu {
	list-style-type: none;
	
}
div.top_menu {
	margin: -20px;
}
/* メニュー */
#menuButton {
	margin-left: 15px;
	margin-right: 15px;
}

div.divMenu {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;	
}

input.btMenu {
	width: 120px;
	height: 30px;
}

span.sub_menu {
	margin-bottom: 10px;
	display: block;
	background-color: aliceblue;
}

/* IndexPageのタブ */
/*
div.tab-row {
	border: solid;
}
*/

/* トップページ：タブ */
div.tab-row li {
	list-style-type: none;
	float: left;
	width: 100px;
	height: 1.5em;
	text-align: center;
}

div.tab-panel {
	clear: both;	
}

/* ログインパネル:背景 */
div.tab-row li.tab0 {
	background-color: AliceBlue;
}

article.login {
	background-color: AliceBlue;
}

/* 登録パネル：背景 */
div.tab-row li.tab1 {
	background-color: CornSilk;
}

article.regist {
	background-color: CornSilk;
}

/* TABLEview */
table.tableView {
	border-collapse: collapse;
	clear: both;
}

table.tableView th.tableView {
	border: solid 1px;
	
}

table.tableView td {
	border: solid 1px;
}

div.projectList {
	margin-bottom: 15px;
	background-color: ivory;
}

span.pjCaption {
	margin-right: 7px;
}

img.image_cell {
	height: 24px;
}

/* TableView: Sub Menu */
div.sub_menu {
	height: 1.5em;
	background-color: beige;
}

li.sub_menu {
	list-style-type: none;
	float: left;
}

ul.sub_menu {
	clear: both;
}

data_cell {
	cursor: pointer;
}

/* TaskAddPage */
input.taskName {
	height: 2em;
}

/* TreeView */
tr.headers {
	background-color: orange;
}

.treeview {
	background-color: green;
}
